html {
  background-image: url("vacation background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: gray
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
